.header__lang-link {
    color: #fff;
    align-self: center;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
  }
  .header__lang-link:hover {
    opacity: .8;
  }
@media screen and (max-width:568px) {
  .header__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}