.content__photo-grid {
    margin: 92px 48px;
  }
@media screen and (max-width: 984px) {
  .content__photo-grid {
    margin: 88px 24px;
  }
}
@media screen and (max-width: 568px) {
  .content__photo-grid {
    margin: 66px 16px;
  }
}